
@{
    ViewBag.Title = "ModulesInject";
}

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/PageScripts/module1.js"></script>
<script src="~/Scripts/PageScripts/module2.js"></script>
<script src="~/Scripts/PageScripts/module3.js"></script>

<h2>Modules Inject</h2>

<div ng-app="module1" ng-controller="controller1">
    {{message1}}
    {{message2}}
    {{message3}}
</div>

