@model Learning_MVC.Models.VerifyPhoneNumberViewModel

@{
    ViewBag.Title = "TSHelloWorld";
}

<script src="~/Scripts/PageScripts/car.js"></script>

<h2>TypeScript HelloWorld</h2>

@Html.BootstrapTextBoxFor(m => m.PhoneNumber, new { @class = "form-control", type="number" })